[submodule "MiniTikTok-Auth"]
	path = MiniTikTok-Auth
	url = git@github.com:ThalliMega/MiniTikTok-Auth.git
[submodule "MiniTikTok-User"]
	path = MiniTikTok-User
	url = git@github.com:ThalliMega/MiniTikTok-User.git
[submodule "MiniTikTok-User-Http"]
	path = MiniTikTok-User-Http
	url = git@github.com:ThalliMega/MiniTikTok-User-Http.git
